.header {
  width: 100%;
  padding: 26px 0;
  position: absolute;
  z-index: 15;

  @keyframes hide {
  0%{
    position: absolute;
  }   
  100%{
    position: fixed;
  }
  }
 

  &::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    height: 140%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1512' height='222' fill='none'%3E%3Cpath fill='url(%23paint0_linear_120_2483)' d='M0 0h1512v222H0z' style='mix-blend-mode:multiply'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_120_2483' x1='646.645' x2='646.645' y1='3.32271e-06' y2='222' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230B2731'/%3E%3Cstop offset='1' stop-color='%230B3646' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: cover;
    background-position: bottom;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: all .4s;
  }

  &.hide{
    opacity: 0;
    animation: hide 0.01s .2s forwards;
    transform: translateY(-100%);
    transition: all .4s;
    &::before{
      opacity: 1;
    }
  }

  &.sticky{
    opacity: 1;
    transform: translateY(0);
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__btn {
    height: clamp(51px, 4.365vw, 66px);
    padding: 0 clamp(38px, 4.034vw, 61px);
    background: transparent;
    border: 2px solid rgba(var(--bg-a),1.0);
    font-size: clamp(18px, 1.653vw, 25px);

    &:hover {
      background: rgba(var(--bg-d),1.0);
    }
  }

  .logo{
    margin-left: -30px;
    svg{
      display: flex;
      width: clamp(168px, 21.0641vw, 289px);
    }
  }
}


