.sales-card{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 2.2595vw, 31px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
    }

    &__image{
        @include small-tablet{
            width: 100%;
            display: flex;

            img,picture{
                width: 100%;
            }
        }
    }

    &__list{
        display: grid;
        grid-template-columns: repeat(2, .7fr) 1fr;
        grid-gap: 10px;
    }

    &__text{
        color: rgba(var(--cl-b),1.0);
        font-size: clamp(15px, 1.4577vw, 20px);
        &.line{
            text-decoration: line-through;
        }
    }

    &__item{
        display: flex;
        grid-gap: clamp(9px, 1.0204vw, 14px);

        p{
            display: flex;
            flex-direction: column;
        }
    }

    &__icon{
        svg{
            fill: none;
        }
    }

    &__title{
        .main-label{
            top: 5px;
            min-height: 42px;
            min-width: 158px;

            &__text{
                padding: 0 14px;
            }
            @include for-mobile{
                margin-left: 5px;
            }
            @include mobile{
                top: -2px;
            }
        }

        @include mobile{
            display: inline-flex;
            flex-direction: column;
        }
    }
}