<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <div class="footer__box">
          <a class="footer__logo logo" href="/">
            <img width='289' height='54' src="./img/sprite/logo.svg" alt="image">
          </a>

          <p class="footer__box-text">Все права защищены</p>
        </div>


        <ul class="contacts">
          <li>
            <a href="tel:+905338353003">
              <svg width='21' height='21'>
                <use href='img/sprite/sprite.svg#phone'></use>
              </svg>
              <span>+905 33 83 530 03</span>
            </a>
          </li>
          <li>
            <a href="mailto:info@cypruslife.estate">
              <svg width='24' height='21'>
                <use href='img/sprite/sprite.svg#email'></use>
              </svg>
              <span>info@cypruslife.estate</span>
            </a>
          </li>
          <li>
            <a href="https://maps.app.goo.gl/tpLJPaPh1QTJ7PvB8">
              <svg width='19' height='22'>
                <use href='img/sprite/sprite.svg#location'></use>
              </svg>
              <span>dükkan no:4, 43 i̇sti̇klal caddesi̇ yeni̇boğazi̇çi̇ gazi̇mağusa</span>
            </a>
          </li>
        </ul>

        <div class="socials">
          <p>Соцсети</p>

          <ul>
            <li>
              <a href="https://www.facebook.com/">
                <svg width='13' height='21'>
                  <use href='img/sprite/sprite.svg#facebook'></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/">
                <svg width='21' height='21'>
                  <use href='img/sprite/sprite.svg#Instagram'></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.viber.com/ru/">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#viber'></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://desktop.telegram.org/">
                <svg width='21' height='20'>
                  <use href='img/sprite/sprite.svg#telegram'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <p>UAS TRADING LIMITED M.Ş:23783 (Cyprus Life) © 2020-2024. All Right Reserved.</p>
    </div>
  </div>
</footer>
